@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer base {
  body {
    @apply bg-[#FAFAFB];
    @apply transition-all duration-100;
    @apply dark:bg-[#141416] dark:transition-all dark:duration-100 dark:text-white;
  }
}
